.footer__column-links {
  list-style: none;
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.8s ease-in-out 0.1s;
}

.footer__column-links:hover {
  opacity: 0.4;
}
