.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

/* description css style */
.description {
  margin: 100px 0 100px;
  min-height: 300px;
  align-self: center;
  width: 80%;
}

.two-columns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;
  color: #4d89eb;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:first-child {
margin-top: 0;
}

.two-columns__paragraph {
  margin-top: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 700;
}

/* digits css style */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text_margin-top {
  margin-top: 20px;
}
